<details @click="toggleAccordion($event)" data-accordion-item {{ open }} class=" {{ class }}">
    <summary class="wb-flex justify-between items-center w-full !pt-5">
        <span class="{{ title_class }}">
        {{ title }}
        </span>
        <span class="wb-flex items-center mx-3 md:mx-5">
            {% render 'icons' with icon: 'chevron-down', class: '' %}
        </span>
    </summary>
    <div data-accordion-content class="accordion-content {{ content_class }}">
        {{ content }}
    </div>
</details>