
{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
    {%- assign t = template | split: '.' | first -%}
    
    <nav class="wb-flex gap-1 items-center text-xs font-kurdis-semi-condensed text-bear-black font-semibold justify-center lg:!justify-start" role="navigation" aria-label="breadcrumbs">
      <ol class="wb-flex gap-1 items-center">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link text-bear-black!" href="/">Home</a>
        </li>
        {%- case t -%}
          {%- when 'page' -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link text-bear-black!" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
            </li>
          {%- when 'product' -%}
            {% assign product_object = product.metafields.custom.product_group %}
            {%- if collection.url -%}
              <li class="breadcrumbs__item">
                <span>></span>
                {{ collection.title | link_to: collection.url }}
              </li>
            {%- else if product_object.value.collection != blank -%}
              <li class="breadcrumbs__item">
                <span>></span>
                {{ product_object.value.collection.value.text | link_to: product_object.value.collection.value.url }}
              </li>
            {%- endif -%}
            {% if product_object.value.title != blank %}
              <li class="breadcrumbs__item">
              <span>></span>
              <a class="breadcrumbs__link text-bear-black!" href="{{ product.url }}" aria-current="page">{{ product_object.value.title.value.text }}</a>
            </li>
            {% else %}
              <li class="breadcrumbs__item">
                <span>></span>
                <a class="breadcrumbs__link text-bear-black!" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
              </li>
            {% endif %}
          {%- when 'collection' and collection.handle -%}
            {%- if current_tags -%}
              <li class="breadcrumbs__item">
                {{ collection.title | link_to: collection.url }}
              </li>
              <li class="breadcrumbs__item">
                {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
                <a class="breadcrumbs__link text-bear-black!" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
              </li>
            {%- else -%}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link text-bear-black!" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
              </li>
            {%- endif -%}
          {%- when 'blog' -%}
            {%- if current_tags -%}
              <li class="breadcrumbs__item">
                {{ blog.title | link_to: blog.url }}
              </li>
              <li class="breadcrumbs__item">
                {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
                <a class="breadcrumbs__link text-bear-black!" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
              </li>
            {%- else -%}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link text-bear-black!" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
              </li>
            {%- endif -%}
          {%- when 'article' -%}
            <li class="breadcrumbs__item">
              {{ blog.title | link_to: blog.url }}
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link text-bear-black!" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
            </li>
          {%- else -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link text-bear-black!" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
            </li>
        {%- endcase -%}
      </ol>
    </nav>
    {%- endunless -%}