{% assign nav_blocks = mobile_metaobject.nav_blocks %}

<div>
    {% for entry in nav_blocks.value %}
        <div class="pl-8 py-[15px] flex items-center !gap-7 border-b border-[#431A031A]">
            <div class="w-[86px] h-[88px]">
            {{ entry.image | image_url: width: 200 | image_tag: class: 'h-full w-full object-cover' }}
            </div>

            <div class="flex flex-col !gap-2">
                <div class="flex items-center gap-2">
                   <span class="text-lg font-extrabold">{{ entry.name }}</span>
                   <span class="text-sm font-medium font-parslay text-gold">{{ entry.accent_text }}</span>
                </div>
                <div class="flex items-center gap-[5px]">
                {% for badge in entry.badges.value %}
                    <span class="font-kurdis text-xs font-bold py-1.5 px-2.5 rounded-[2px] bg-grey-tag/70 text-black uppercase border border-sky-blue">{{ badge }}</span>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="pl-[26px] pr-10 pt-5">
        <div class="relative h-[114px] w-full flex !gap-0 justify-center items-center">
            <a href="{{ mobile_metaobject.banner_link }}" class="absolute h-full w-full"></a>
            <div>
                {{ mobile_metaobject.banner_image | image_url: width: 600 | image_tag: class: 'h-full w-full object-cover' }}
            </div>
        </div>
    </div>
</div>
