{% liquid
  assign is_selected = false
  if child_product.id == product.id
    assign is_selected = true
  endif    

  assign bundle_add_to_cart_text = section.settings.bundle_add_to_cart_text
%}

<div @click="selectProduct({{ child_product.id }})"
data-product-id="{{ child_product.id }}"
:class="{ 'selected-product': selectedProduct?.id === {{ child_product.id }}}"
class="wb-flex bg-[#F9F3ED] items-center !gap-3 rounded-[5px] cursor-pointer flex-nowrap {% if is_selected %} selected-product {% endif %}">
   <div class="min-w-[77px] w-[77px] lg:!min-w-[75px] lg:!w-[75px] h-full bg-sky-blue flex justify-center items-center rounded-tl-[5px] rounded-bl-[5px] relative overflow-hidden">
     {% if image != blank %}
       {% render 'image', image: image, height: 300, class: 'w-full !h-full object-cover' %}
     {% else %}
       <div class="absolute inset-0 z-[2] wb-flex justify-center items-center">
         <span class="text-xs text-center">Missing Image</span>
       </div>
       {{ child_product.featured_image | image_url: width: 300 | image_tag: class: 'w-full h-full object-cover opacity-50' }}
     {% endif %}
   </div>
   <div class="wb-flex w-full h-full p-2 items-center gap-2">
       <div class="wb-flex flex-col !gap-2 lg:!gap-0.5 w-full">
           <div class="wb-flex items-center gap-1 w-full flex-wrap">
             <span class="text-lg lg:!text-base !font-bold uppercase text-bear-black font-gothic_condensed">{{ title }}</span>
             {% if product_badge != blank %}
               <div class="flex items-center justify-center rounded-full px-2 py-1 h-fit" style="background-color: {{ product_badge_color }}; color: {{ product_badge_text_color }}">
                 <span class="text-[10px] font-kurdis uppercase font-semibold !leading-[100%] whitespace-nowrap">{{ product_badge_text }}</span>
               </div>
             {% elsif member_only %}
                 <span class="text-[10px] font-kurdis uppercase font-semibold text-cream whitespace-nowrap py-1 px-2 rounded-full relative -top-0.5" style="background-color: var(--color-brand-gold); color: var(--color-cream)">VIP / Elite Only
                 {% render 'tooltip', content: settings.member_tooltip, class: 'relative top-0.5', badge: true %}
                 </span>
             {% endif %}
           </div>
           <span class="text-[12px] lg:!text-[11px] font-kurdis font-semibold leading-[120%] text-bear-black">{{ flavor_description }}</span>
       </div>
       <div class="min-w-[100px]">
         {% if member_only %}
           <div class="w-full flex justify-end">
             <div @click.prevent.stop="$dispatch('modal-open', { modal: 'membership-info' })" class="group !h-[30px] !w-[80px] flex flex-nowrap justify-center items-center relative whitespace-nowrap h-fit cursor-pointer shadow-button">
                 <span class="relative text-[12px] text-cream z-1 font-kurdis uppercase font-bold whitespace-nowrap">{% render 'icons', icon: 'unlock' %} Unlock</span>
                 <div class="absolute top-0 left-0 w-full h-full">
                   <svg preserveAspectRatio="none" class="h-full w-full fill-espresso group-hover:fill-gold" xmlns="http://www.w3.org/2000/svg" width="80" height="30" viewBox="0 0 80 30" fill="none">
                     <path d="M0.740482 3.11953C0.111533 4.85963 0.0863218 6.91032 0.0757066 8.87613C0.0504956 13.5543 0.0266114 18.2306 0.00140038 22.9088C-0.0052341 24.1801 -0.00390717 25.5035 0.38222 26.6436C1.31237 29.385 2.48668 29.983 5.96049 29.983C29.2608 29.983 52.5624 30.0853 75.8641 29.7882C76.6907 29.7785 77.5983 29.8402 78.2764 29.1515C80.1141 27.286 79.9138 23.8772 79.858 21.3481C79.7545 16.639 80 12.7692 80 8.05817C80 4.76317 79.7466 3.43977 78.9955 2.13566C78.0335 0.463087 76.0299 0.534466 74.5292 0.490095C64.6624 0.194935 54.7903 0.0425316 44.9195 0.00780683C34.985 -0.0288471 25.0506 0.0637523 15.1161 0.281747C12.3137 0.34348 9.5126 0.414858 6.71152 0.497812C4.59644 0.559545 1.91346 -0.119518 0.740482 3.11953Z" />
                   </svg>
                 </div>
             </div>
           </div>
         {% else %}
            <div x-show="!isInBundle({{ child_product.id }})" class="w-full flex justify-end">
              <div class="group !h-10 lg:!h-[30px] !w-[80px] flex justify-center items-center relative whitespace-nowrap h-fit cursor-pointer shadow-button" 
              @click.prevent.stop="addToBundle({{ child_product.id }},{% if bundle_type == '32oz' %} '32oz' {% else %} null {% endif %})"
              :disabled="disabled"
              :class="{ 'opacity-50 pointer-events-none': disabled }">
                  <span 
                  x-text="flavorType === 'mix' || flavorType === null ? '+ Add' : 'Select'" 
                  class="relative text-[12px] text-cream z-1 font-kurdis-semi-condensed uppercase font-bold">+ Add</span>
                  <div class="absolute top-0 left-0 w-full h-full">
                    <svg preserveAspectRatio="none" class="h-full w-full fill-espresso group-hover:fill-gold" xmlns="http://www.w3.org/2000/svg" width="80" height="30" viewBox="0 0 80 30" fill="none">
                      <path d="M0.740482 3.11953C0.111533 4.85963 0.0863218 6.91032 0.0757066 8.87613C0.0504956 13.5543 0.0266114 18.2306 0.00140038 22.9088C-0.0052341 24.1801 -0.00390717 25.5035 0.38222 26.6436C1.31237 29.385 2.48668 29.983 5.96049 29.983C29.2608 29.983 52.5624 30.0853 75.8641 29.7882C76.6907 29.7785 77.5983 29.8402 78.2764 29.1515C80.1141 27.286 79.9138 23.8772 79.858 21.3481C79.7545 16.639 80 12.7692 80 8.05817C80 4.76317 79.7466 3.43977 78.9955 2.13566C78.0335 0.463087 76.0299 0.534466 74.5292 0.490095C64.6624 0.194935 54.7903 0.0425316 44.9195 0.00780683C34.985 -0.0288471 25.0506 0.0637523 15.1161 0.281747C12.3137 0.34348 9.5126 0.414858 6.71152 0.497812C4.59644 0.559545 1.91346 -0.119518 0.740482 3.11953Z" />
                    </svg>
                  </div>
              </div>
            </div>
            <div x-cloak x-show="isInBundle({{ child_product.id }}) && flavorType === 'single'" class="w-full flex justify-end">
              <div class="group !h-10 lg:!h-[30px] !w-[80px] whitespace-nowrap wb-flex justify-center items-center relative whitespace-nowrap h-fit cursor-pointer shadow-button" 
              @click.prevent.stop="addToBundle({{ child_product.id }},{% if bundle_type == '32oz' %} '32oz' {% else %} null {% endif %})">
                  <span 
                  class="wb-flex justify-center items-center gap-1 relative text-[12px] text-cream z-1 font-kurdis-semi-condensed uppercase font-bold">
                  {% render 'icons', icon: 'checkmark', class: 'text-cream min-w-[10px] min-h-[10px]' %} 
                  Selected</span>
                  <div class="absolute top-0 left-0 w-full h-full">
                    <svg preserveAspectRatio="none" class="h-full w-full fill-gold group-hover:fill-gold" xmlns="http://www.w3.org/2000/svg" width="80" height="30" viewBox="0 0 80 30" fill="none">
                      <path d="M0.740482 3.11953C0.111533 4.85963 0.0863218 6.91032 0.0757066 8.87613C0.0504956 13.5543 0.0266114 18.2306 0.00140038 22.9088C-0.0052341 24.1801 -0.00390717 25.5035 0.38222 26.6436C1.31237 29.385 2.48668 29.983 5.96049 29.983C29.2608 29.983 52.5624 30.0853 75.8641 29.7882C76.6907 29.7785 77.5983 29.8402 78.2764 29.1515C80.1141 27.286 79.9138 23.8772 79.858 21.3481C79.7545 16.639 80 12.7692 80 8.05817C80 4.76317 79.7466 3.43977 78.9955 2.13566C78.0335 0.463087 76.0299 0.534466 74.5292 0.490095C64.6624 0.194935 54.7903 0.0425316 44.9195 0.00780683C34.985 -0.0288471 25.0506 0.0637523 15.1161 0.281747C12.3137 0.34348 9.5126 0.414858 6.71152 0.497812C4.59644 0.559545 1.91346 -0.119518 0.740482 3.11953Z" />
                    </svg>
                  </div>
              </div>
            </div>
            <div class="flex items-center !gap-0" x-cloak x-show="isInBundle({{ child_product.id }}) && (flavorType === 'mix' || flavorType === null)">
                <button class="group cursor-pointer relative shadow-button h-[30px] w-[30px]" @click.prevent.stop="selectedBundleProducts[{{ child_product.id }}].quantity--">
                  <span class="relative text-[12px] text-cream z-1 font-kurdis uppercase font-bold">-</span>
                  <svg class="absolute top-0 left-0 w-full h-full fill-espresso group-hover:fill-gold" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M0.277681 3.11953C0.0418248 4.85963 0.0323707 6.91032 0.02839 8.87613C0.0189358 13.5543 0.00997928 18.2306 0.000525143 22.9088C-0.00196279 24.1801 -0.0014652 25.5035 0.143332 26.6436C0.49214 29.385 0.932504 29.983 2.23518 29.983C10.9728 29.983 19.7109 30.0853 28.449 29.7882C28.759 29.7785 29.0994 29.8403 29.3536 29.1515C30.0428 27.286 29.9677 23.8772 29.9468 21.3481C29.9079 16.639 30 12.7692 30 8.05817C30 4.76317 29.905 3.43977 29.6233 2.13566C29.2626 0.463087 28.5112 0.534466 27.9485 0.490095C24.2484 0.194935 20.5464 0.0425316 16.8448 0.00780683C13.1194 -0.0288471 9.39396 0.0637523 5.66853 0.281747C4.61763 0.34348 3.56722 0.414858 2.51682 0.497812C1.72367 0.559545 0.717547 -0.119518 0.277681 3.11953Z" />
                  </svg>
                </button>
                <span class="text-[12px] w-10 text-espresso text-center font-kurdis uppercase font-bold" x-text="getBundleProductQuantity({{ child_product.id }})"></span>
                <button
                :disabled="getBundleProductQuantity({{ child_product.id }}) >= qtyLimit"
                :class="{ 'opacity-50 pointer-events-none': disabled }"
                 class="group cursor-pointer relative shadow-button h-[30px] w-[30px]" @click.prevent.stop="selectedBundleProducts[{{ child_product.id }}].quantity++">
                  <span class="relative text-[12px] text-cream z-1 font-kurdis uppercase font-bold">+</span>
                  <svg class="absolute top-0 left-0 w-full h-full fill-espresso group-hover:fill-gold" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M0.277681 3.11953C0.0418248 4.85963 0.0323707 6.91032 0.02839 8.87613C0.0189358 13.5543 0.00997928 18.2306 0.000525143 22.9088C-0.00196279 24.1801 -0.0014652 25.5035 0.143332 26.6436C0.49214 29.385 0.932504 29.983 2.23518 29.983C10.9728 29.983 19.7109 30.0853 28.449 29.7882C28.759 29.7785 29.0994 29.8403 29.3536 29.1515C30.0428 27.286 29.9677 23.8772 29.9468 21.3481C29.9079 16.639 30 12.7692 30 8.05817C30 4.76317 29.905 3.43977 29.6233 2.13566C29.2626 0.463087 28.5112 0.534466 27.9485 0.490095C24.2484 0.194935 20.5464 0.0425316 16.8448 0.00780683C13.1194 -0.0288471 9.39396 0.0637523 5.66853 0.281747C4.61763 0.34348 3.56722 0.414858 2.51682 0.497812C1.72367 0.559545 0.717547 -0.119518 0.277681 3.11953Z" />
                  </svg>
                </button>
            </div>
         {% endif %}
       </div>
   </div>
</div>