{%- doc -%}
  Renders a default variant picker, used to display the variant picker in the variants block.

  @param {object} product_resource - The product object.
  @param {object} [block] - The block object
  @param {object} section - The section object.
  @param {object} product - The current product object (used to determine selected variant state).
{%- enddoc -%}

{% assign block_settings = block.settings %}

{% liquid
  assign bundle_collection = section.settings.bundle_collection
%}

<div class="flex flex-col gap-2.5">
    <span class="text-base font-bold font-gothic_condensed uppercase text-gold">Build Your Bundle</span>

    <div class="flex flex-col w-full bg-white p-4.5 rounded-[5px] font-kurdis text-bear-black">
      <div class="flex items-center justify-between">
        {% for i in (1..3) %}
            <div class="flex flex-col items-center justify-center font-gothic_condensed uppercase font-bold w-[63px]">
                <span>{{ i }} Box</span>
            </div>
        {% endfor %}
      </div>
      <div>
        <div class="flex items-center justify-between relative">
          {% for i in (1..3) %}
              <div class="flex items-center justify-center w-[63px]">
                <div class="flex items-center justify-center h-4.5 w-4.5 rounded-full mx-auto transition-all duration-300 relative z-[2] outline-2 outline-[#CFBDB1]"
                :class="bundleSize >= {{ i }} ? 'outline-gold bg-white' : 'outline-[#CFBDB1] bg-[#F2E6DC]'"
                >
                  <div class="flex items-center justify-center h-3.5 w-3.5 bg-[#CFBDB1] rounded-full"
                  :class="bundleSize >= {{ i }} ? 'bg-gold' : 'bg-transparent'"
                  ></div>
                 </div>
              </div>
              <div class="absolute right-6 left-6 rounded-full mx-auto">
                <div class="relative h-[2px] bg-[#CFBDB1]">
                  <div class="absolute top-0 left-0 h-full max-w-full bg-gold transition-all duration-300"
                  :style="progressBarWidth"
                  ></div>
                </div>
              </div>
          {% endfor %}
        </div>
      </div>
      <div class="flex items-center justify-between text-[12px] w-full">
        {% for i in (1..3) %}
            <div class="flex items-center justify-center w-[63px]">
              <span>{{ i | times: 5 | prepend: '$' | append: ' off' }}</span>
            </div>
        {% endfor %}
      </div>
    </div>



<div class="h-[436px] overflow-hidden relative">
    <div class="flex flex-col gap-2 overflow-y-auto absolute top-0 left-0 w-full h-full px-2.5 py-2.5">
        {% for child_product in bundle_collection.products %}
            {% liquid
            assign title = child_product.title | split: ' - ' | last
            assign image = child_product.featured_image
            assign flavor_description = child_product.metafields.custom.flavor_description | default: 'Flavor Description'
            %}
            <div @click="selectProduct({{ child_product.id }})"
             data-product-id="{{ child_product.id }}"
             :class="{ 'outline-2 outline outline-gold': selectedProduct?.id === {{ child_product.id }}}"
             class="flex bg-[#F9F3ED] items-center gap-2 rounded-[5px] cursor-pointer">
                <div class="w-[75px] h-[77px] bg-sky-blue flex justify-center items-center rounded-tl-[5px] rounded-bl-[5px]">
                {{ child_product.featured_image | image_url: width: 300 | image_tag: class: 'w-full h-full object-cover' }}
                </div>
                <div class="flex w-full h-full p-2 items-center">
                    <div class="flex flex-col !gap-1 w-full">
                        <span class="text-base !font-bold uppercase text-bear-black font-gothic_condensed">{{ title }}</span>
                        <span class="text-[11px] font-kurdis font-semibold leading-[120%] text-bear-black">{{ flavor_description }}</span>
                    </div>
                    <div class="w-[100px]">
                      <div x-show="!isInBundle({{ child_product.id }})" class="w-full flex justify-end">
                        <div class="group !h-[30px] !w-[80px] flex justify-center items-center relative whitespace-nowrap h-fit cursor-pointer shadow-button" @click.prevent.stop="addToBundle({{ child_product.id }})">
                            <span class="relative text-[12px] text-cream z-1 font-kurdis uppercase font-bold">+ Add</span>
                            <div class="absolute top-0 left-0 w-full h-full">
                              <svg preserveAspectRatio="none" class="h-full w-full fill-espresso group-hover:fill-gold" xmlns="http://www.w3.org/2000/svg" width="80" height="30" viewBox="0 0 80 30" fill="none">
                                <path d="M0.740482 3.11953C0.111533 4.85963 0.0863218 6.91032 0.0757066 8.87613C0.0504956 13.5543 0.0266114 18.2306 0.00140038 22.9088C-0.0052341 24.1801 -0.00390717 25.5035 0.38222 26.6436C1.31237 29.385 2.48668 29.983 5.96049 29.983C29.2608 29.983 52.5624 30.0853 75.8641 29.7882C76.6907 29.7785 77.5983 29.8402 78.2764 29.1515C80.1141 27.286 79.9138 23.8772 79.858 21.3481C79.7545 16.639 80 12.7692 80 8.05817C80 4.76317 79.7466 3.43977 78.9955 2.13566C78.0335 0.463087 76.0299 0.534466 74.5292 0.490095C64.6624 0.194935 54.7903 0.0425316 44.9195 0.00780683C34.985 -0.0288471 25.0506 0.0637523 15.1161 0.281747C12.3137 0.34348 9.5126 0.414858 6.71152 0.497812C4.59644 0.559545 1.91346 -0.119518 0.740482 3.11953Z" />
                              </svg>
                            </div>
                        </div>
                      </div>
                      <div class="flex items-center !gap-0" x-cloak x-show="isInBundle({{ child_product.id }})">
                          <button class="group cursor-pointer relative shadow-button h-[30px] w-[30px]" @click.prevent.stop="selectedBundleProducts[{{ child_product.id }}].quantity--">
                            <span class="relative text-[12px] text-cream z-1 font-kurdis uppercase font-bold">-</span>
                            <svg class="absolute top-0 left-0 w-full h-full fill-espresso group-hover:fill-gold" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                              <path d="M0.277681 3.11953C0.0418248 4.85963 0.0323707 6.91032 0.02839 8.87613C0.0189358 13.5543 0.00997928 18.2306 0.000525143 22.9088C-0.00196279 24.1801 -0.0014652 25.5035 0.143332 26.6436C0.49214 29.385 0.932504 29.983 2.23518 29.983C10.9728 29.983 19.7109 30.0853 28.449 29.7882C28.759 29.7785 29.0994 29.8403 29.3536 29.1515C30.0428 27.286 29.9677 23.8772 29.9468 21.3481C29.9079 16.639 30 12.7692 30 8.05817C30 4.76317 29.905 3.43977 29.6233 2.13566C29.2626 0.463087 28.5112 0.534466 27.9485 0.490095C24.2484 0.194935 20.5464 0.0425316 16.8448 0.00780683C13.1194 -0.0288471 9.39396 0.0637523 5.66853 0.281747C4.61763 0.34348 3.56722 0.414858 2.51682 0.497812C1.72367 0.559545 0.717547 -0.119518 0.277681 3.11953Z" />
                            </svg>
                          </button>
                          <span class="text-[12px] w-10 text-espresso text-center font-kurdis uppercase font-bold" x-text="getBundleProductQuantity({{ child_product.id }})"></span>
                          <button class="group cursor-pointer relative shadow-button h-[30px] w-[30px]" @click.prevent.stop="selectedBundleProducts[{{ child_product.id }}].quantity++">
                            <span class="relative text-[12px] text-cream z-1 font-kurdis uppercase font-bold">+</span>
                            <svg class="absolute top-0 left-0 w-full h-full fill-espresso group-hover:fill-gold" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                              <path d="M0.277681 3.11953C0.0418248 4.85963 0.0323707 6.91032 0.02839 8.87613C0.0189358 13.5543 0.00997928 18.2306 0.000525143 22.9088C-0.00196279 24.1801 -0.0014652 25.5035 0.143332 26.6436C0.49214 29.385 0.932504 29.983 2.23518 29.983C10.9728 29.983 19.7109 30.0853 28.449 29.7882C28.759 29.7785 29.0994 29.8403 29.3536 29.1515C30.0428 27.286 29.9677 23.8772 29.9468 21.3481C29.9079 16.639 30 12.7692 30 8.05817C30 4.76317 29.905 3.43977 29.6233 2.13566C29.2626 0.463087 28.5112 0.534466 27.9485 0.490095C24.2484 0.194935 20.5464 0.0425316 16.8448 0.00780683C13.1194 -0.0288471 9.39396 0.0637523 5.66853 0.281747C4.61763 0.34348 3.56722 0.414858 2.51682 0.497812C1.72367 0.559545 0.717547 -0.119518 0.277681 3.11953Z" />
                            </svg>
                          </button>
                      </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>

<div>
    <span>Purchase Options</span>
    <input x-model="sellingPlanId" type="hidden" name="selling_plan_id" id="selling_plan_id">
    <fieldset>
        <label for="autoship">Autoshop
            {% comment %} <span x-text="selectedProduct?.selling_plan_allocations[0]?.selling_plan?.price"></span> {% endcomment %}
        </label>
        <input x-model="purchaseOption" type="radio" value="autoship" name="purchase_option" id="autoship" checked>
    </fieldset>
    <fieldset>
        <label for="one_time">One Time
            {% comment %} <span x-text="selectedProduct?.price"></span> {% endcomment %}
        </label>
        <input x-model="purchaseOption" type="radio" value="one_time" name="purchase_option" id="one_time">
    </fieldset>
</div>


<button class="relative" @click.prevent="addToCart">
    <span x-show="!loading">Add to Cart</span>
    {% render 'loading-animation' %}
</button>

<script x-ref="bundleProducts" type="application/json">
  {
    {%- for child_product in bundle_collection.products -%}
        "{{- child_product.id -}}": {
            "id": {{- child_product.id -}},
            "title": "{{- child_product.title -}}",
            "handle": "{{- child_product.handle -}}",
            "variants": {
                {% for child_variant in child_product.variants %}
                    "{{- forloop.index0 -}}": {
                        "title": "{{- child_variant.title -}}",
                        "id": {{- child_variant.id -}},
                        "price": {{- child_variant.price -}},
                        {% comment %} "selling_plan_allocations": { {% endcomment %}
                                {%- assign printed_allocation = false -%}
                                {%- for allocation in child_variant.selling_plan_allocations -%}
                                  {%- assign selling_plan_name = allocation.selling_plan.name -%}
                                  {%- if selling_plan_name contains '1 Month' and selling_plan_name contains 'New Bundle' -%}
                                    {%- if printed_allocation -%},{%- endif -%}
                                    {% comment %} "{{ allocation.selling_plan.id }}": { {% endcomment %}
                                      "selling_plan_id": {{ allocation.selling_plan.id | json }},
                                      "selling_plan_name": {{ allocation.selling_plan.name | json }},
                                      "selling_plan_price": {{ allocation.price | json }}
                                    {% comment %} } {% endcomment %}
                                    {%- assign printed_allocation = true -%}
                                  {%- endif -%}
                                {%- endfor -%}
                        {% comment %} } {% endcomment %}
                    }{%- unless forloop.last -%},{%- endunless -%}
                {%- endfor -%}
            }
        }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  }
</script>

{% stylesheet %}
  /* Variant picker container styles - unique to main variant picker */
  .variant-picker {
    width: 100%;
  }

  .variant-picker__form {
    width: 100%;
  }

  .variant-picker[data-shopify-visual-preview] {
    min-width: 300px;
    padding-inline-start: max(4px, var(--padding-inline-start));
  }

  /* Dropdown variant option styles */
  .variant-option__select-wrapper {
    display: flex;
    position: relative;
    border: var(--style-border-width-inputs) solid var(--color-border);
    border-radius: var(--style-border-radius-inputs);
    align-items: center;
    margin-top: var(--margin-2xs);
    overflow: clip;
  }

  .variant-option__select-wrapper:has(.swatch) {
    --variant-picker-swatch-width: 20px;
    --variant-picker-swatch-height: 20px;
  }

  .variant-option__select-wrapper:hover {
    border-color: var(--color-variant-hover-border);
  }

  .variant-option__select:focus-visible {
    outline: var(--focus-outline-width) solid currentcolor;
    outline-offset: var(--focus-outline-offset);
  }

  .variant-option__select {
    padding-block: var(--padding-md);
    padding-inline: var(--padding-lg) calc(var(--padding-lg) + var(--icon-size-2xs));
    appearance: none;
    border: 0;
    width: 100%;
    margin: 0;
    cursor: pointer;
  }

  .variant-option__select-wrapper .icon {
    position: absolute;
    right: var(--padding-md);
    top: 50%;
    transform: translateY(-50%);
    width: var(--icon-size-2xs);
    height: var(--icon-size-2xs);
    pointer-events: none;
  }

  .variant-option__select--has-swatch {
    padding-inline-start: calc((2 * var(--padding-sm)) + var(--variant-picker-swatch-width));
  }

  .variant-option__select-wrapper .swatch {
    position: absolute;
    top: 50%;
    left: var(--padding-md);
    transform: translateY(-50%);
  }

  /* Variant picker alignment modifiers */
  .variant-picker--center,
  .variant-picker--center .variant-option {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .variant-picker--right,
  .variant-picker--right .variant-option {
    text-align: right;
    justify-content: right;
  }
{% endstylesheet %}
