{%  liquid 
    assign color_scheme = block.settings.color_scheme
    assign background_color = color_scheme.settings.background
    assign text_color = color_scheme.settings.foreground
    assign button_bg = color_scheme.settings.primary_button_background
    assign button_text = color_scheme.settings.primary_button_text
    assign button_border = color_scheme.settings.primary_button_border
    assign button_hover_bg = color_scheme.settings.primary_button_hover_background
    assign button_hover_text = color_scheme.settings.primary_button_hover_text
    assign button_hover_border = color_scheme.settings.primary_button_hover_border
    assign title = block.settings.title
    assign subtitle = block.settings.subtitle
    assign button_label = block.settings.button_label
    assign button_link = block.settings.button_link
    
    assign image = block.settings.image
%}

<div class="wb-flex items-stretch relative w-full rounded-[5px] h-fit mb-9 md:mb-4" style="background-color: {{ background_color }}">
  {% if image != blank %}
    <div class="flex-1 h-auto wb-flex min-w-[130px] max-w-[130px] md:min-w-[104px] md:max-w-[104px]">
      {% render 'picture', source: image, class: 'w-full !h-full object-cover rounded-[5px]', alt: image.alt, width: 1920, height: 1080, preload: 'lazy', loading: 'lazy' %}
    </div>
  {% endif %}

  <div class="wb-flex flex-col gap-1.5 px-3 pt-2.25 pb-3 h-fit flex-2 my-auto md:p-4 md:gap-2">
    <h2 class="text-[20px] font-gothic_condensed font-extrabold leading-[100%] md:text-base" style="color: {{ text_color }}">{{ title }}</h2>
    <span class="text-[12px] font-semibold font-kurdis-semi-condensed leading-[120%]" style="color: {{ text_color }}">{{ subtitle }}</span>
    {% if button_label != blank and button_link != blank %}
      {% render 'wb-button', style: 'custom', class: 'z-[3] !w-[98px] !h-[25px] !text-[12px]', width: 98, height: 25, label: button_label, link: button_link, button_bg: button_bg, button_text: button_text, button_hover_bg: button_hover_bg, button_hover_text: button_hover_text, button_hover_border: button_hover_border %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Cross-sell Call-out",
  "tag": null,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Looking for cold brew on‑the‑go?"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Try our new cold brew lattes, available in 3 flavors!"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Cross Sell Call-out",
      "category": "t:categories.custom"
    }
  ]
}
{% endschema %}
