{% liquid
    assign section_settings = section.settings
    assign color_scheme = section_settings.color_scheme
    assign title_type = section_settings.title_type
    assign title = section_settings.title
    assign title_image = section_settings.title_image
    assign title_alt = section_settings.title_alt
    assign blocks = section.blocks
    assign background_color = color_scheme.settings.background
    assign text_color = color_scheme.settings.foreground
    assign badge = section_settings.badge
%}

<div class="pt-5 pb-8 relative" style="background-color: {{ background_color }}">
    {% if badge != blank %}
        {{ badge | image_url: width: 100 | image_tag: class: 'absolute z-[2] -top-[60px] md:!-top-[80px] right-[9vw] md:!right-[15vw] !w-[66px] md:!w-[85px] !h-auto' }}
    {% endif %}
    {% if title_type == 'image' %}
        {% if title_image != blank %}
            <div class="h-[36px] mx-auto mb-7.5">
              {{ title_image | image_url: width: 365 | image_tag: class: 'w-full !max-w-[228px] md:!max-w-full max-h-full object-contain mx-auto', alt: title_alt }}
            </div>
        {% endif %}
    {% elsif title_type == 'text' %}
        {% if title != blank %}
            <span class="h1 mb-8" style="color: {{ text_color }}">{{ title }}</span>
        {% endif %}
    {% endif %}
    <div class="container max-w-[1140px] mx-auto">
        <div class="wb-grid grid-cols-1 md:grid-cols-3 gap-0 md:gap-20">
            {% for block in section.blocks %}
                {% liquid
                    assign image = block.settings.image
                    assign image_mobile = block.settings.image_mobile
                    assign mobile_image_alt = block.settings.mobile_image_alt
                    assign title = block.settings.title
                    assign subtitle = block.settings.subtitle
                    assign accent_text = block.settings.accent_text
                    assign badge = block.settings.badge
                %}
                <div class="relative">
                    <a href="{{ collection.url }}">
                    {% if badge != blank %}
                        {{ badge | image_url: width: 100 | image_tag: class: 'hidden md:!block absolute z-[2] -top-[50px] -left-[50px] !w-[148px] !h-auto' }}
                    {% endif %}
                    {% if image != blank %}
                        {% render 'picture', 
                            source: image, 
                            class: 'hidden md:!block w-full h-full object-cover'
                        %}
                    {% endif %}
                    {% if image_mobile != blank %}
                        {% render 'picture', 
                            source: image_mobile, 
                            class: 'block md:!hidden w-full h-full object-cover'
                            alt: mobile_image_alt
                        %}
                    {% endif %}
                    </a>
                    <div class="hidden md:!flex flex-col {% unless accent_text != blank %} !gap-2.5 {% endunless %} items-center">
                        {% if title != blank %}
                            <a href="{{ collection.url }}" class="h1 text-center" style="color: {{ text_color }}">{{ title }}</a>
                        {% endif %}
                        {% if accent_text != blank %}
                            <span class="accent text-gold text-center">{{ accent_text }}</span>
                        {% endif %}
                        {% if subtitle != blank %}
                            <span class="body text-espresso text-center" style="color: {{ text_color }}">{{ subtitle }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <svg preserveAspectRatio="none" class="absolute -bottom-0.5 left-0 w-full" xmlns="http://www.w3.org/2000/svg" width="1290" height="28" viewBox="0 0 1290 28" fill="none">
    <path d="M1290 27.249L970 28L352 21.9804L3.62444e-07 23.854L2.44783e-06 -1.16568e-06L1290 0.00011161L1290 27.249Z" fill="{{ color_scheme.settings.background }}"/>
    </svg>
</div>


{% schema %}
{
    "name": "AW Collection Tiles",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
        },
        {
            "type": "select",
            "id": "title_type",
            "label": "Title Type",
            "options": [
                {
                    "value": "text",
                    "label": "Text"
                },
                {
                    "value": "image",
                    "label": "Image"
                }
            ],
            "default": "text"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "visible_if": "{{ section.settings.title_type == 'text' }}"
        },
        {
            "type": "text",
            "id": "title_alt",
            "label": "Title Alt",
            "visible_if": "{{ section.settings.title_type == 'image' }}"
        },
        {
            "type": "image_picker",
            "id": "title_image",
            "label": "Title Image",
            "visible_if": "{{ section.settings.title_type == 'image' }}"
        },
        {
            "type": "image_picker",
            "id": "badge",
            "label": "Badge"
        }
    ],
    "blocks": [
        {
            "type": "collection_tile",
            "name": "Collection Tile",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "image_mobile",
                    "label": "Image Mobile"
                },
                {
                    "type": "text",
                    "id": "mobile_image_alt",
                    "label": "Mobile Image Alt"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Subtitle"
                },
                {
                    "type": "text",
                    "id": "accent_text",
                    "label": "Accent Text"
                },
                {
                    "type": "image_picker",
                    "id": "badge",
                    "label": "Badge"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "AW Collection Tiles"
        }
    ]
}
{% endschema %}