{% liquid
    assign section_settings = section.settings
    assign color_scheme = section_settings.color_scheme
    assign background_color = color_scheme.background
    assign background_image = section_settings.background_image
    assign text_color = color_scheme.text
    assign title_type = section_settings.title_type
    assign title = section_settings.title
    assign title_alt = section_settings.title_alt
    assign title_image = section_settings.title_image
    assign title_image_mobile = section_settings.title_image_mobile
    assign diagram_image = section_settings.diagram_image

    assign min_mobile_order = 999999
    assign max_mobile_order = 0
    assign diagram_item_count = 0

    for block in section.blocks
        if block.type == 'diagram_item'
            assign diagram_item_count = diagram_item_count | plus: 1

            assign item_mobile_order = block.settings.order_mobile
            if item_mobile_order == blank
                assign item_mobile_order = diagram_item_count | plus: 1
            endif

            if item_mobile_order < min_mobile_order
                assign min_mobile_order = item_mobile_order
            endif

            if item_mobile_order > max_mobile_order
                assign max_mobile_order = item_mobile_order
            endif
        endif
    endfor

    assign diagram_items_total = diagram_item_count

%}

{% capture diagram_content %}
    {% assign class = '' %}
    {% assign diagram_item_count = 0 %}
    {% for block in section.blocks %}
        {% if block.type == 'diagram_item' %}
            {% assign diagram_item_count = diagram_item_count | plus: 1 %}
            {% case diagram_item_count %}
                {% when 1 %}
                    {% assign class = 'md:!mb-0 md:!mt-0 order-2 md:!w-[215px] md:absolute md:left-[75%] md:top-[5%] lg:top-[-2%] lg:left-[78%] xl:top-[-3%] xl:left-[71%]' %}
                    {% assign icon_class = '!w-[54px] !h-[54px] md:!ml-0 md:!mr-auto' %}
                {% when 2 %}
                    {% assign class = 'order-3 md:!mb-0 md:!mt-0 md:!w-[215px] md:absolute md:right-[82%] md:top-[38%] lg:right-[79%] lg:top-[24%] xl:right-[67%] xl:top-[27%]' %}
                    {% assign icon_class = '!w-[54px] !h-[54px] md:!ml-auto md:!mr-0 md:mr-12!'  %}
                {% when 3 %}
                    {% assign class = 'md:!mb-0 md:!mt-0 order-4 md:!w-[287px] md:absolute md:left-[75%] md:top-[58%] lg:top-[51%] lg:left-[75%] xl:left-[69%]' %}
                    {% assign icon_class = '!w-[54px] !h-[54px] md:!ml-0 md:!mr-auto md:-mt-4!' %}
                {% else %}
                    {% assign class = 'md:hidden' %}
                    {% assign icon_class = '!w-[54px] !h-[54px]' %}
            {% endcase %}
            {% liquid
                assign mobile_order = block.settings.order_mobile
                if mobile_order == blank
                    assign mobile_order = diagram_item_count | plus: 1
                endif

                assign diagram_item_index = diagram_item_count | minus: 1
                assign mobile_margin_role = 'middle'

                if diagram_items_total == 1 or mobile_order == min_mobile_order
                    assign mobile_margin_role = 'first'
                elsif mobile_order == max_mobile_order
                    assign mobile_margin_role = 'last'
                endif
            %}
            <div class="diagram-item wb-flex flex-row {% if diagram_item_count < diagram_items_total %} md:!flex-col {% endif %} gap-4 {{ class }}"
            style="--diagram-order-mobile: {{ mobile_order }};"
            data-callout
            data-mobile-margin="{{ mobile_margin_role }}"
            data-index="{{ diagram_item_index }}">
                {{ block.settings.icon | image_url: width: 100 | image_tag: class: icon_class, alt: block.settings.title }}
                <div class="wb-flex flex-col gap-0.5 md:gap-1">
                    <span class="h2 text-[20px]! uppercase">{{ block.settings.title }}</span>
                    <span class="body">{{ block.settings.description }}</span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endcapture %}

<div class="aw-diagram wb-flex flex-col gap-4 relative" style="background-color: {{ background_color }}">
    {% if background_image != blank %}
        {% render 'picture', source: background_image, class: 'w-full !h-full object-cover !max-w-none absolute inset-0 md:!-top-[77px]', alt: background_image.alt, width: 1920, height: 1080, preload: 'eager', loading: 'eager' %}
    {% endif %}
   <div class="wb-flex flex-col mx-auto relative z-[2]">
    {% if title_type == 'image' %}
        {% if title_image != blank %}
            <div class="max-w-[442px] w-full mx-auto">
                {% render 'title-image', image: title_image, image_mobile: title_image_mobile, alt: title_alt, class: 'w-full max-h-full object-contain' %}
            </div>
        {% endif %}
    {% elsif title_type == 'text' %}
        {% if title != blank %}
            <span class="h1 mb-8" style="color: {{ text_color }}">{{ title }}</span>
        {% endif %}
    {% endif %}
   </div>

   <div x-data="diagram()" class="wb-flex flex-col md:flex-row mx-auto relative max-w-[84vw] w-full justify-center px-0">

    <!-- SVG LINES -->
    <svg class="diagram-lines absolute inset-0 w-full h-full overflow-visible pointer-events-none z-[1]">
        <line
          x-show="lines[0]"
          :x1="lines[0]?.x1 || 0"
          :y1="lines[0]?.y1 || 0"
          :x2="lines[0]?.x2 || 0"
          :y2="lines[0]?.y2 || 0"
          stroke="#2f1a0f"
          stroke-width="1"
          stroke-dasharray="4 4"
        />
      
        <line
          x-show="lines[1]"
          :x1="lines[1]?.x1 || 0"
          :y1="lines[1]?.y1 || 0"
          :x2="lines[1]?.x2 || 0"
          :y2="lines[1]?.y2 || 0"
          stroke="#2f1a0f"
          stroke-width="1"
          stroke-dasharray="4 4"
        />
      
        <line
          x-show="lines[2]"
          :x1="lines[2]?.x1 || 0"
          :y1="lines[2]?.y1 || 0"
          :x2="lines[2]?.x2 || 0"
          :y2="lines[2]?.y2 || 0"
          stroke="#2f1a0f"
          stroke-width="1"
          stroke-dasharray="4 4"
        />
      </svg>

    {{ diagram_content }}
        {% if diagram_image != blank %}
            <div class="max-w-[511px] md:w-[40vw]! mx-auto lg:w-[34vw]! xl:w-[22vw]!" x-ref="diagramImage">
                <picture>
                    <source srcset="{{ diagram_image | image_url: width: 1920 }}" media="(min-width: 1920px)">
                    <source srcset="{{ diagram_image | image_url: width: 1440 }}" media="(min-width: 1440px)">
                    <source srcset="{{ diagram_image | image_url: width: 1200 }}" media="(min-width: 1200px)">
                    <source srcset="{{ diagram_image | image_url: width: 1024 }}" media="(min-width: 1024px)">
                    <source srcset="{{ diagram_image | image_url: width: 768 }}" media="(min-width: 768px)">
                    <img src="{{ diagram_image | image_url: width: 365 }}" alt="{{ title_alt }}" class="!flex order-1 md:order-2 w-full max-h-full object-contain relative z-[2] mx-auto">
                </picture>
            </div>
        {% endif %}
    </div>
</div>

{% stylesheet %}
    @media screen and (max-width: 1023px) {
        .aw-diagram .diagram-lines {
            display: none !important;
        }

        .aw-diagram .diagram-item {
            order: var(--diagram-order-mobile) !important;
        }

        .aw-diagram .diagram-item[data-mobile-margin='first'] {
            margin-top: 3.313rem;
            margin-bottom: 1.25rem;
        }

        .aw-diagram .diagram-item[data-mobile-margin='middle'] {
            margin-bottom: 1.25rem;
        }

        .aw-diagram .diagram-item[data-mobile-margin='last'] {
            margin-top: 0;
            margin-bottom: 2.25rem;
        }

        .aw-diagram .diagram-item[data-mobile-margin='first'] > img {
            margin-top: 0.938rem;
        }

        .aw-diagram .diagram-item[data-mobile-margin='middle'] > img {
            margin-top: 1.625rem;
        }
    }

    @media screen and (min-width: 1024px) {
        .aw-diagram .diagram-lines {
            display: block;
        }
    }
{% endstylesheet %}

{% schema %}
    {
        "name": "AW Diagram Section",
        "settings": [
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme",
                "default": "scheme-1"
            },
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
            },
            {
                "type": "select",
                "id": "title_type",
                "label": "Title Type",
                "options": [
                    {
                        "value": "text",
                        "label": "Text"
                    },
                    {
                        "value": "image",
                        "label": "Image"
                    }
                ],
                "default": "text"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "visible_if": "{{ section.settings.title_type == 'text' }}"
            },
            {
                "type": "text",
                "id": "title_alt",
                "label": "Title Alt",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "image_picker",
                "id": "title_image",
                "label": "Title Image",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "image_picker",
                "id": "title_image_mobile",
                "label": "Title Image Mobile",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "image_picker",
                "id": "diagram_image",
                "label": "Diagram Image"
            }
        ],
        "blocks": [
            {
                "type": "diagram_item",
                "name": "Diagram Item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "icon",
                        "label": "Icon"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "text",
                        "id": "description",
                        "label": "Description"
                    },
                    {
                        "type": "number",
                        "id": "order_mobile",
                        "label": "Order Mobile"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "AW Diagram Section"
            }
        ]
    }
{% endschema %}