{% liquid
    assign section_settings = section.settings
    assign color_scheme = section_settings.color_scheme
    assign title_type = section_settings.title_type
    assign title = section_settings.title
    assign title_alt = section_settings.title_alt
    assign title_image = section_settings.title_image
    assign title_image_mobile = section_settings.title_image_mobile
    assign content = section_settings.content
    assign background_image = section_settings.background_image
    assign video = section_settings.video
    assign signature_image = section_settings.signature_image
    assign text_color = color_scheme.text
    assign badge = section_settings.badge
    assign title_badge = section_settings.title_badge
%}

{% capture title_styles %}
    --font-size: {{ section.settings.font_size }}px;
    --font-size-mobile: {{ section.settings.font_size_mobile }}px;
{% endcapture %}

{% capture founders_content %}
    <div class="wb-flex flex-col gap-3 relative relative">
    {% if title_badge != blank %}
        {{ title_badge | image_url: width: 100 | image_tag: class: 'hidden md:!block absolute z-[2] -top-9 -right-15 !w-[118px] !h-auto rotate-[27deg] shadow-button', loading: 'eager', preload: 'eager' }}
    {% endif %}
    {% if title_type == 'image' and title_image != blank %}
        <div class="max-w-[442px] w-full mx-auto mb-2">
            {% render 'title-image', image: title_image, image_mobile: title_image_mobile, alt: title_alt, class: 'w-full max-h-full object-contain' %}
        </div>
    {% elsif title_type == 'text' and title != blank %}
        <span class="h1 mb-8 title-text leading-[1.2] text-center" style="color: {{ text_color }}; {{ title_styles }}">{{ title | replace: '\b', '<br>' }}</span>
    {% endif %}
    {% if content != blank %}
        <div class="hidden md:!block rte text-center max-w-[436px] w-full mx-auto h3 [&>h3:not(:first-child)]:!mt-5">
            {{ content }}
        </div>
    {% endif %}
    {% if signature_image != blank %}
        <div class="w-full max-w-[141px] md:!max-w-[224px] w-full mx-auto">
            {{ signature_image | image_url: width: 365 | image_tag: class: 'w-full max-h-full object-contain', alt: title_alt }}
        </div>
    {% endif %}
    </div>
{% endcapture %}
 
{% capture video_content %}
    {% if video != blank %}
    <div x-data="VideoPlayer()" class="founders-video rounded-[10px] overflow-hidden relative shadow-[0_4px_4px_0_rgba(0,0,0,0.25)]">
        <div @click="toggleSound()" class="absolute bottom-5 left-5 z-5 cursor-pointer">
            <span class="visually-hidden">Toggle Sound</span>
            <div class="flex items-center justify-center h-6 w-6 rounded-full bg-[rgba(249,222,88,0.7)] text-white">
                <div class="w-6 h-6 flex items-center justify-center">
                <span x-show="videoMuted" x-cloak class="block">
                        {% render 'icons', icon: 'mute' class: 'w-5 h-auto mt-1 -ml-0.5' %}
                    </span>
                    <span x-show="!videoMuted" x-cloak class="block">
                        {% render 'icons', icon: 'unmute' class: 'w-5 h-auto mt-1' %}
                    </span>
                </div>
            </div>
        </div>
          <div @click="togglePlay()">
            {% render 'video', video: video, disable_controls: true, video_autoplay: true, video_from_url: false %}
          </div>
        </div>
    {% endif %}
{% endcapture %}
<div class="relative pt-[84px] md:!pt-[110px] pb-[46px] md:!pb-[90px]" style="background-color: {{ color_scheme.background }}">
    <div class="absolute top-0 left-0 right-0 h-[100px] z-[2]"
    style="background: linear-gradient(to bottom, {{ color_scheme.settings.background }} 0%, transparent 100%);"></div>

    {% if background_image != blank %}
        {% render 'picture', source: background_image, class: 'w-full !h-full object-cover absolute inset-0' %}
    {% endif %}
    <div class="max-w-[936px] w-full container mx-auto relative">
        <div class="wb-flex flex-col-reverse md:!flex-row gap-4 justify-between items-center px-[50px] md:!px-0">
            <div class="max-w-[281px] md:!max-w-[400px] w-full relative">
                {% if badge != blank %}
                    {{ badge | image_url: width: 100 | image_tag: class: 'absolute z-[2] bottom-[60px] md:bottom-[72px] -left-5 sm:-left-10 md:!-left-[55px] !w-[68px] md:!w-[104px] !h-auto' }}
                {% endif %}
                {{ video_content }}
            </div>
            <div class="w-full max-w-[436px]">
                {{ founders_content }}
            </div>
            
        </div>
    </div>
</div>

{% style %}
    .title-text {
        font-size: var(--font-size);
    }

    @media (max-width: 1024px) {
        .title-text {
            font-size: var(--font-size-mobile);
        }
    }
{% endstyle %}

{% schema %}
{
    "name": "Founders",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
        },
        {
            "type": "select",
            "id": "title_type",
            "label": "Title Type",
            "options": [
                {
                    "value": "text",
                    "label": "Text"
                },
                {
                    "value": "image",
                    "label": "Image"
                }
            ],
            "default": "text"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "visible_if": "{{ section.settings.title_type == 'text' }}",
            "info": "Add '\\b' for line breaks"
        },
        {
            "type": "range",
            "id": "font_size",
            "label": "Font Size",
            "min": 16,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 24,
            "visible_if": "{{ section.settings.title_type == 'text' }}"
        },
        {
            "type": "range",
            "id": "font_size_mobile",
            "label": "Font Size Mobile",
            "min": 16,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 24,
            "visible_if": "{{ section.settings.title_type == 'text' }}"
        },
        {
            "type": "text",
            "id": "title_alt",
            "label": "Title Alt",
            "visible_if": "{{ section.settings.title_type == 'image' }}"
        },
        {
            "type": "image_picker",
            "id": "title_image",
            "label": "Title Image",
            "visible_if": "{{ section.settings.title_type == 'image' }}"
        },
        {
            "type": "image_picker",
            "id": "title_image_mobile",
            "label": "Title Image Mobile",
            "visible_if": "{{ section.settings.title_type == 'image' }}"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        },
        {
            "type": "video",
            "id": "video",
            "label": "Video"
        },
        {
            "type": "image_picker",
            "id": "signature_image",
            "label": "Signature Image"
        },
        {
            "type": "image_picker",
            "id": "title_badge",
            "label": "Title Badge"
        },
        {
            "type": "image_picker",
            "id": "badge",
            "label": "Badge"
        }
    ],
    "presets": [
        {
            "name": "Founders"
        }
    ]
}
{% endschema %}