{% liquid
    assign section_settings = section.settings
    assign color_scheme = section_settings.color_scheme
    assign foreground_image = section_settings.foreground_image
    assign background_image = section_settings.background_image
    assign background_image_tablet = section_settings.background_image_tablet
    assign background_image_mobile = section_settings.background_image_mobile
    assign title_type = section_settings.title_type
    assign title_image = section_settings.title_image
    assign title_image_mobile = section_settings.title_image_mobile
    assign title_text = section_settings.title_text
    assign subtitle = section_settings.subtitle
    assign buttons = section.blocks | where: "type", "button"
    assign badge = section_settings.badge
%}

{% capture hero_content %}
        {% render 'picture', source: background_image, tablet_source: background_image_tablet, mobile_source: background_image_mobile, class: 'w-full !h-full object-cover !max-w-none absolute inset-0', alt: background_image.alt, width: 1920, height: 1080, preload: 'eager', loading: 'eager' %}
        {% if title_image != blank or title_text != blank or subtitle != blank %}
            <div class="container relative wb-flex flex-col md:!flex-row justify-end w-[800px] mx-auto h-full pb-12 md:!pb-0">
                <div class="relative wb-flex flex-col justify-center gap-4 z-1 max-w-full">
                    {% if title_image != blank %}
                        {% render 'title-image', image: title_image, image_mobile: title_image_mobile, alt: title_image.alt, class: 'relative left-5 sm:!left-0 w-full h-full object-contain !max-w-[270px] md:!max-w-full mx-auto', preload: 'eager', loading: 'eager' %}
                        {% comment %} {{ title_image | image_url: width: 1920 | image_tag: class: 'hidden md:!block w-full h-full object-contain' }}
                        {{ title_image_mobile | image_url: width: 1920 | image_tag: class: 'block relative left-5 sm:!left-0 md:!hidden w-full h-full object-contain !max-w-[270px] mx-auto' }} {% endcomment %}
                    {% elsif title_text != blank %}
                        <h1 class="h1">{{ title_text }}</h1>
                    {% endif %}
                    {% if subtitle != blank %}
                        <span class="h3 text-center md:!text-left !text-lg">{{ subtitle }}</span>
                    {% endif %}
                    {% if buttons != blank %}
                        <div class="wb-flex flex-col md:!flex-row gap-4 w-fit mx-auto md:!mx-0">
                            {% for button in buttons %}
                                <div class="relative mx-auto md:!mx-0">
                                    {% if button.settings.badge != blank %}
                                        {{ button.settings.badge | image_url: width: 100 | image_tag: class: 'absolute z-[2] -top-5 -left-10 !w-[59px] !h-auto', loading: 'eager', preload: 'eager' }}
                                    {% endif %}
                                    {% render 'wb-button', style: button.settings.style, label: button.settings.label, link: button.settings.link %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
{% endcapture %}

{% if hero_content != blank %}
<div class="flex relative justify-center items-center lg:!aspect-[1290/600] relative overflow-hidden py-8 md:!py-20 lg:!py-8">
    <div class="flex justify-center items-center ">
      {{ hero_content }}
    </div>
    {% if badge != blank %}
        {{ badge | image_url: width: 100 | image_tag: class: 'absolute z-[2] -bottom-5 right-[20vw] !w-[85px] !h-auto', loading: 'eager', preload: 'eager' }}
    {% endif %}
    <svg preserveAspectRatio="none" class="absolute -bottom-0.5 left-0 w-full z-[2]" xmlns="http://www.w3.org/2000/svg" width="1290" height="30" viewBox="0 0 1290 30" fill="none">
        <path d="M0 0.952156L320 0L938 7.63188L1290 5.2564V30H0V0.952156Z" fill="{{ color_scheme.settings.background }}"/>
    </svg>
</div>
{% endif %}

{% schema %}
{
    "name": "AW Hero",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
        },
        {
            "type": "image_picker",
            "id": "foreground_image",
            "label": "Foreground Image"
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        },
        {
            "type": "image_picker",
            "id": "background_image_tablet",
            "label": "Background Image Tablet"
        },
        {
            "type": "image_picker",
            "id": "background_image_mobile",
            "label": "Background Image Mobile"
        },
        {
            "type": "select",
            "id": "title_type",
            "label": "Title Type",
            "options": [
                {
                    "value": "image",
                    "label": "Image"
                },
                {
                    "value": "text",
                    "label": "Text"
                }
            ],
            "default": "image"
        },
        {
            "type": "image_picker",
            "id": "title_image",
            "label": "Title Image",
            "visible_if": "{{ section.settings.title_type == 'image' }}"
        },
        {
            "type": "image_picker",
            "id": "title_image_mobile",
            "label": "Title Image Mobile",
            "visible_if": "{{ section.settings.title_type == 'image' }}"
        },
        {
            "type": "text",
            "id": "title_text",
            "label": "Title Text",
            "visible_if": "{{ section.settings.title_type == 'text' }}"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "image_picker",
            "id": "badge",
            "label": "Badge"
        }
    ],
    "blocks": [
        {
            "type": "button",
            "name": "Button",
            "limit": 2,
            "settings": [
                {
                    "type": "select",
                    "id": "style",
                    "label": "Style",
                    "options": [
                        {
                            "value": "primary",
                            "label": "Primary"
                        },
                        {
                            "value": "secondary-gold",
                            "label": "Secondary Gold"
                        },
                        {
                            "value": "secondary-cream",
                            "label": "Secondary Cream"
                        }
                    ],
                    "default": "primary"
                },
                {
                    "type": "text",
                    "id": "label",
                    "label": "Label"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "image_picker",
                    "id": "badge",
                    "label": "Badge"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "AW Hero"
        }
    ]
}
{% endschema %}