{% liquid
    assign section_settings = section.settings
    assign color_scheme = section_settings.color_scheme
    assign background_color = section_settings.background_color
    assign text_color = color_scheme.settings.text
    assign title_type = section_settings.title_type
    assign title = section_settings.title
    assign title_alt = section_settings.title_alt
    assign title_image = section_settings.title_image
    assign title_image_mobile = section_settings.title_image_mobile
    assign background_image = section_settings.background_image
    assign background_image_tablet = section_settings.background_image_tablet
    assign background_image_mobile = section_settings.background_image_mobile

    assign button_label = section_settings.button_label
    assign button_link = section_settings.button_link
    assign tier_items = section.blocks
    assign button_bg = color_scheme.settings.primary_button_background
    assign button_text = color_scheme.settings.primary_button_text
    assign button_border = color_scheme.settings.primary_button_border
    assign button_hover_bg = color_scheme.settings.primary_button_hover_background
    assign button_hover_text = color_scheme.settings.primary_button_hover_text
    assign button_hover_border = color_scheme.settings.primary_button_hover_border
    assign bullet_icon = section_settings.bullet_icon
%}

{% style %}
    .membership-description {
        font-family: var(--font-kurdis-semi-condensed) !important;

        p:has(strong) {
            margin-bottom: 4px !important;

            @media screen and (max-width: 768px) {
                text-align: center !important;
            }
        }

        p > strong {
            font-weight: 700 !important;
        }

        > p:first-child:has(strong) {
            font-size: 16px !important;
            line-height: 1 !important;
            margin-bottom: 12px !important;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style: none;
            margin-bottom: 0px !important;
        }

        ul li {
            align-items: center;
            display: flex;
            font-size: 14px !important;
            gap: 8px;
            line-height: 130%;
            position: relative;

            strong {
                font-weight: 700 !important;
                font-family: var(--font-kurdis-semi-condensed) !important;
            }
        }

        ul li:before {
            background-image: url('{{ bullet_icon | image_url: width: 14 }}');
            background-repeat: no-repeat;
            background-size: 14px 9px;
            content: "";
            display: block;
            position: relative;
            top: -1px;
            min-width: 14px;
            height: 9px;
            width: 14px;
        }
    }

    @media screen and (min-width: 1024px) {
        .membership-description {
            > p:first-child:has(strong) {
                font-size: 14px !important;
                line-height: 130% !important;
            }

            ul li:before {
                top: -2px;
            }
        }
    }
{% endstyle %}

<div class="wb-flex justify-center relative" style="background: {{ background_color }}">
    {% if background_image_mobile != blank %}
        <div
            class="absolute inset-0 bg-cover bg-center smd:hidden!"
            style="background-image: url('{{ background_image_mobile | image_url: width: 768 }}')"
        ></div>
    {% endif %}

    {% if background_image_tablet != blank %}
        <div
            class="absolute inset-0 hidden bg-cover bg-center smd:block! md:hidden!"
            style="background-image: url('{{ background_image_tablet | image_url: width: 1440 }}')"
        ></div>
    {% endif %}

    {% if background_image != blank %}
        <div
            class="absolute inset-0 hidden bg-cover bg-center md:block!"
            style="background-image: url('{{ background_image | image_url: width: 1920 }}')"
        ></div>
    {% endif %}

    <div class="max-w-[1290px] w-full mx-auto wb-flex justify-end relative pt-10 pb-5 px-4">
        <div class="wb-flex flex-col gap-4 max-w-[601px] w-full mx-auto md:mr-0">
            <div class="wb-flex flex-col gap-9 mx-auto relative z-[2] justify-center md:gap-4">
                <div class="wb-flex flex-col justify-center items-start mx-auto">
                    {% if title_type == 'image' %}
                        {% if title_image != blank %}
                            <div class="max-w-[442px] w-full md:!mb-5">
                                {% render 'title-image', image: title_image, image_mobile: title_image_mobile, alt: title_alt, class: 'w-full max-h-full object-contain' %}
                            </div>
                        {% endif %}
                    {% elsif title_type == 'text' %}
                        {% if title != blank %}
                            <span class="h1 mb-8" style="color: {{ text_color }}">{{ title }}</span>
                        {% endif %}
                    {% endif %}
                </div>

                <div class="wb-flex flex-col gap-4">
                    {% for tier_item in tier_items %}
                        <div class="wb-grid md:!grid-cols-2 pb-4 pt-3 rounded-[3px] shadow-button md:pt-4" style="background: {{ tier_item.settings.background_color }}">
                            <div class="wb-flex flex-col items-center md:!items-start px-6.5 pb-3 md:!pb-0 col-start-1 w-full">
                                <span class="h1 text-[25px]/none! font-extrabold!">{{ tier_item.settings.title }}</span>

                                {% if tier_item.settings.title contains 'Elite' %}
                                    <svg class="mx-auto md:!mx-0 !my-1" xmlns="http://www.w3.org/2000/svg" width="121" height="4" viewBox="0 0 121 4" fill="none">
                                        <path d="M1.58045e-05 3.31446C0.00911985 3.43913 0.0182239 3.5638 0.0273279 3.68847C2.02906 3.56325 4.02657 3.41324 6.02408 3.25336C23.4527 1.63579 40.8835 0.94981 58.392 1.00124C58.9369 1.00139 59.4777 1.00216 60.0145 1.00354C78.0178 0.998044 96.0279 1.97284 114.003 3.30852C116.002 3.44402 118.001 3.574 120.001 3.68854C120.05 3.69136 120.099 3.6748 120.136 3.64213C120.174 3.60945 120.196 3.56341 120.2 3.51406C120.203 3.46471 120.187 3.41601 120.154 3.37862C120.122 3.34122 120.076 3.31825 120.026 3.31439C120.026 3.31439 120.026 3.31439 120.026 3.31439C118.031 3.15841 116.036 2.98907 114.041 2.81623C96.1011 1.14457 78.0477 -0.0022682 60.0171 0.00354066C59.4794 0.00216329 58.9377 0.00154012 58.392 0.00169072C40.868 -0.0407383 23.3706 0.818042 5.98009 2.76158C3.98732 2.95868 1.99579 3.1479 1.58045e-05 3.31446Z" fill="#AF7404"/>
                                    </svg>
                                {% endif %}

                                <span class="body text-center md:!text-left">{{ tier_item.settings.subtitle }}</span>
                            </div>
                            <div class="block md:!hidden w-full bg-gold h-[1px] mb-2.5 md:mb-4"></div>

                            {% if tier_item.settings.button_label != blank %}
                                {% if tier_item.settings.button_action == 'elite_add_to_cart' %}
                                    {% render 'elite-atc-button',
                                        label: tier_item.settings.button_label,
                                        class: 'w-[260px]! col-start-1 mx-auto md:!mx-7 mt-3 !text-[15px] md:w-[158px]!',
                                        wrapper_classes: 'order-4 md:!order-3 w-[260px]! md:w-[158px]!'
                                    %}
                                {% else %}
                                    {% render 'wb-button', style: 'secondary-gold', label: tier_item.settings.button_label, link: tier_item.settings.button_link, class: 'w-[260px]! order-4 md:!order-3 col-start-1 mx-auto md:!mx-7 mt-3 !text-[15px] md:w-[158px]!' %}
                                {% endif %}
                            {% endif %}

                            <div class="rte membership-description order-3 md:!order-4 md:!col-start-2 [&_ul]:pl-0! md:row-start-1 md:row-end-3 body items-center md:!items-start w-fit mx-auto md:!mx-0 md:!w-full">{{ tier_item.settings.description }}</div>
                        </div>
                    {% endfor %}

                    {% if button_label != blank and button_link != blank %}
                        {% assign button_class = 'w-full! h-15! md:h-12! md:!w-[280px] mx-auto mt-1.5 md:mt-0 button-styles' %}

                        {% render 'wb-button',
                            style: 'custom',
                            class: button_class,
                            label: button_label,
                            link: button_link, 
                            button_bg: button_bg,
                            button_text: button_text,
                            button_border: button_border,
                            button_hover_bg: button_hover_bg,
                            button_hover_text: button_hover_text,
                            button_hover_border: button_hover_border
                        %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "AW Member Comparison",
        "settings": [
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme",
                "default": "scheme-1"
            },
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
            },
            {
                "type": "image_picker",
                "id": "background_image_tablet",
                "label": "Background Image Tablet"
            },
            {
                "type": "image_picker",
                "id": "background_image_mobile",
                "label": "Background Image Mobile"
            },
            {
                "type": "color_background",
                "id": "background_color",
                "label": "Background Color"
            },
            {
                "type": "select",
                "id": "title_type",
                "label": "Title Type",
                "options": [
                    {
                        "value": "text",
                        "label": "Text"
                    },
                    {
                        "value": "image",
                        "label": "Image"
                    }
                ],
                "default": "text"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "visible_if": "{{ section.settings.title_type == 'text' }}"
            },
            {
                "type": "text",
                "id": "title_alt",
                "label": "Title Alt",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "image_picker",
                "id": "title_image",
                "label": "Title Image",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "image_picker",
                "id": "title_image_mobile",
                "label": "Title Image Mobile",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "Button Label"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            },
            {
                "type": "image_picker",
                "id": "bullet_icon",
                "label": "Bullet Icon"
            }
        ],
        "blocks": [
            {
                "type": "tier_item",
                "name": "Tier Item",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "text",
                        "id": "subtitle",
                        "label": "Subtitle"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    },
                    {
                        "type": "color_background",
                        "id": "background_color",
                        "label": "Background Color"
                    },
                    {
                        "type": "text",
                        "id": "button_label",
                        "label": "Button Label"
                    },
                    {
                        "type": "select",
                        "id": "button_action",
                        "label": "Button action",
                        "options": [
                            {
                                "value": "link",
                                "label": "Link"
                            },
                            {
                                "value": "elite_add_to_cart",
                                "label": "Add Elite to cart"
                            }
                        ],
                        "default": "link"
                    },
                    {
                        "type": "url",
                        "id": "button_link",
                        "label": "Button Link",
                        "visible_if": "{{ block.settings.button_action == 'link' }}"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "AW Member Comparison"
            }
        ]
    }
{% endschema %}