{% liquid
    assign section_settings = section.settings
    assign color_scheme = section_settings.color_scheme
    assign background_color_mobile = section_settings.background_color
    assign text_color = color_scheme.settings.text
    assign title_type = section_settings.title_type
    assign title = section_settings.title
    assign title_alt = section_settings.title_alt
    assign title_image = section_settings.title_image
    assign title_image_mobile = section_settings.title_image_mobile
    assign background_image = section_settings.background_image
    assign button_label = section_settings.button_label
    assign button_link = section_settings.button_link
    assign tier_items = section.blocks
    assign button_bg = color_scheme.settings.primary_button_background
    assign button_text = color_scheme.settings.primary_button_text
    assign button_border = color_scheme.settings.primary_button_border
    assign button_hover_bg = color_scheme.settings.primary_button_hover_background
    assign button_hover_text = color_scheme.settings.primary_button_hover_text
    assign button_hover_border = color_scheme.settings.primary_button_hover_border
%}

<div class="wb-flex justify-center relative" style="background: {{ background_color_mobile }}">
    {% if background_image != blank %}
        {% render 'picture', source: background_image, class: 'hidden md:!block w-full !h-full object-cover !max-w-none absolute inset-0', alt: background_image.alt, width: 1920, height: 1080, preload: 'eager', loading: 'eager' %}
    {% endif %}
    <div class="max-w-[1290px] w-full mx-auto wb-flex justify-end relative pt-10 pb-5 px-4">
        <div class="wb-flex flex-col gap-4 max-w-[601px] w-full">
            <div class="wb-flex flex-col gap-4 mx-auto relative z-[2] justify-center">
                <div class="wb-flex flex-col justify-center items-start mx-auto">
                    {% if title_type == 'image' %}
                        {% if title_image != blank %}
                            <div class="max-w-[442px] w-full md:!mb-5">
                                {% render 'title-image', image: title_image, image_mobile: title_image_mobile, alt: title_alt, class: 'w-full max-h-full object-contain' %}
                            </div>
                        {% endif %}
                    {% elsif title_type == 'text' %}
                        {% if title != blank %}
                            <span class="h1 mb-8" style="color: {{ text_color }}">{{ title }}</span>
                        {% endif %}
                    {% endif %}
                </div>

                <div class="wb-flex flex-col gap-4">
                    {% for tier_item in tier_items %}
                        <div class="wb-grid md:!grid-cols-2 py-4 rounded-[3px] shadow-button" style="background: {{ tier_item.settings.background_color }}">
                                <div class="wb-flex flex-col items-center md:!items-start px-6.5 pb-4 md:!pb-0 col-start-1 w-full">
                                    <span class="h1">{{ tier_item.settings.title }}</span>
                                    {% if tier_item.settings.title contains 'Elite' %}
                                        <svg class="mx-auto md:!mx-0" xmlns="http://www.w3.org/2000/svg" width="121" height="4" viewBox="0 0 121 4" fill="none">
                                            <path d="M1.58045e-05 3.31446C0.00911985 3.43913 0.0182239 3.5638 0.0273279 3.68847C2.02906 3.56325 4.02657 3.41324 6.02408 3.25336C23.4527 1.63579 40.8835 0.94981 58.392 1.00124C58.9369 1.00139 59.4777 1.00216 60.0145 1.00354C78.0178 0.998044 96.0279 1.97284 114.003 3.30852C116.002 3.44402 118.001 3.574 120.001 3.68854C120.05 3.69136 120.099 3.6748 120.136 3.64213C120.174 3.60945 120.196 3.56341 120.2 3.51406C120.203 3.46471 120.187 3.41601 120.154 3.37862C120.122 3.34122 120.076 3.31825 120.026 3.31439C120.026 3.31439 120.026 3.31439 120.026 3.31439C118.031 3.15841 116.036 2.98907 114.041 2.81623C96.1011 1.14457 78.0477 -0.0022682 60.0171 0.00354066C59.4794 0.00216329 58.9377 0.00154012 58.392 0.00169072C40.868 -0.0407383 23.3706 0.818042 5.98009 2.76158C3.98732 2.95868 1.99579 3.1479 1.58045e-05 3.31446Z" fill="#AF7404"/>
                                        </svg>
                                    {% endif %}
                                    <span class="body text-center md:!text-left">{{ tier_item.settings.subtitle }}</span>
                                </div>
                                <div class="block md:!hidden w-full bg-gold h-[1px] mb-4"></div>
                                {% if tier_item.settings.button_label != blank %}
                                    {% render 'wb-button', style: 'secondary-gold', label: tier_item.settings.button_label, link: tier_item.settings.button_link, class: 'order-4 md:!order-3 col-start-1 mx-auto md:!mx-9 mt-3 !text-[15px]' %}
                                {% endif %}
                                <div class="rte order-3 md:!order-4 md:!col-start-2 md:row-start-1 md:row-end-3 body items-center md:!items-start w-fit mx-auto md:!mx-0 md:!w-full">{{ tier_item.settings.description }}</div>
                        </div>
                    {% endfor %}
                    {% if button_label != blank and button_link != blank %}
                        {% assign button_class = '!w-[280px] mx-auto button-styles' %}
                        {% render 'wb-button', style: 'custom', class: button_class, label: button_label, link: button_link, 
                        button_bg: button_bg, button_text: button_text, button_border: button_border, button_hover_bg: button_hover_bg, button_hover_text: button_hover_text, button_hover_border: button_hover_border
                        %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "AW Member Comparison",
        "settings": [
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme",
                "default": "scheme-1"
            },
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
            },
            {
                "type": "color_background",
                "id": "background_color",
                "label": "Background Color Mobile"
            },
            {
                "type": "select",
                "id": "title_type",
                "label": "Title Type",
                "options": [
                    {
                        "value": "text",
                        "label": "Text"
                    },
                    {
                        "value": "image",
                        "label": "Image"
                    }
                ],
                "default": "text"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "visible_if": "{{ section.settings.title_type == 'text' }}"
            },
            {
                "type": "text",
                "id": "title_alt",
                "label": "Title Alt",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "image_picker",
                "id": "title_image",
                "label": "Title Image",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "image_picker",
                "id": "title_image_mobile",
                "label": "Title Image Mobile",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "Button Label"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            }
        ],
        "blocks": [
            {
                "type": "tier_item",
                "name": "Tier Item",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "text",
                        "id": "subtitle",
                        "label": "Subtitle"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    },
                    {
                        "type": "color_background",
                        "id": "background_color",
                        "label": "Background Color"
                    },
                    {
                        "type": "text",
                        "id": "button_label",
                        "label": "Button Label"
                    },
                    {
                        "type": "url",
                        "id": "button_link",
                        "label": "Button Link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "AW Member Comparison"
            }
        ]
    }
{% endschema %}