{% liquid
    assign section_settings = section.settings
    assign title = section_settings.title

    for block in section.blocks
        if block.type == 'recipe' and forloop.first
            assign metaobject = block.settings.metaobject
            assign title = block.settings.title
            assign title_handleize = block.settings.title | handleize
            assign active_title = title_handleize
        endif
    endfor
%}

{% style %}
    [data-step-title].active {
        background: var(--color-beige);
    }

    .recipe-media video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
{% endstyle %}

{% capture menu %}
    <div class="wb-flex gap-1 lg:gap-1.75 w-full lg:max-w-[420px] lg:mx-auto">
        {% for block in section.blocks %}
            {% if block.type == 'recipe' %}
                {% liquid 
                    assign metaobject = block.settings.metaobject
                    assign title = block.settings.title
                    assign title_handleize = block.settings.title | handleize
                %}

                <div class="wb-flex min-w-[104px] grow bg-foam border-2 border-espresso rounded-[30px] p-1.25 md:mb-5 lg:p-1.5 lg:flex-1 lg:basis-0">
                    <div @click="setActive('{{ title_handleize }}')" data-step-title class="{% if forloop.first %} active {% endif %} w-full flex justify-center items-center px-1 sm:px-1.25 py-3 rounded-[30px] cursor-pointer font-gothic_condensed font-bold text-base uppercase leading-[22px] tracking-[1%] text-center transition-all duration-300 hover:bg-cream"
                    :class="{ 'active pointer-events-none': activeTitle === '{{ title_handleize }}' }" data-title="{{ title_handleize }}">
                        <span>{{ title }}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endcapture %}

{% capture recipe_content %}
    {% for block in section.blocks %}
        {% if block.type == 'recipe' %}
            {% liquid 
                assign metaobject = block.settings.metaobject
                assign title = metaobject.title
                assign title_handleize = block.settings.title | handleize
                assign image = metaobject.image
                assign text = metaobject.text | metafield_tag
            %}

            <div class="wb-flex flex-col mx-auto" x-cloak x-show="activeTitle === '{{ title_handleize }}'">
                <h3 class="body text-lg! font-bold! font-kurdis-semi-condensed! text-bear-black mb-6 text-center">{{ title }}</h3>
                <div class="wb-flex flex-col gap-5 mb-5.5 w-fit mx-auto">
                    {% for step in metaobject.steps.value %}
                        {% liquid
                            assign index = forloop.index
                            assign description = step.content | metafield_tag
                            assign step_title = 'Step ' | append: index | append: ': '
                            assign icon = step.icon | image_url: width: 100 | image_tag
                            assign title = step.title | handleize
                        %}

                        <div class="wb-flex gap-1 items-center text-bear-black">
                            <h3 class="body font-bold text-lg font-bold">{{ step_title }}</h3>
                            <div class="body">{{ description }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="body text-bear-black text-center [&_a]:underline [&_a]:font-bold max-w-[240px] mx-auto md:max-0 md:max-w-full">{{ text }}</div>
            </div>
        {% endif %}
    {% endfor %}
{% endcapture %}

{% capture recipe_text %}
    {% for block in section.blocks %}
        {% if block.type == 'recipe' %}
            {% liquid 
                assign metaobject = block.settings.metaobject
                assign title = metaobject.title
                assign title_handleize = block.settings.title | handleize
                assign image = metaobject.image
                assign text = metaobject.text | metafield_tag
            %}

            <div x-show="activeTitle === '{{ title_handleize }}'" class="mb-5 mb-0 block lg:!hidden">
                <div class="body text-bear-black text-center [&_a]:underline [&_a]:font-bold max-w-[240px] mx-auto leading-[150%]! md:max-0 md:max-w-full md:leading-[130%]!">{{ text }}</div>
            </div>
        {% endif %}
    {% endfor %}
{% endcapture %}

{% capture recipe_image %}
    {% for block in section.blocks %}
        {% if block.type == 'recipe' %}
            {% liquid 
                assign metaobject = block.settings.metaobject
                assign title_handleize = block.settings.title | handleize
                assign media = metaobject.image.value
                assign is_video = false
                if media.sources != blank
                    assign is_video = true
                endif
            %}

            <div class="wb-flex justify-center mt-5" x-cloak x-show="activeTitle === '{{ title_handleize }}'">
                <div class="recipe-media px-4.5 w-full mx-auto smd:px-0 smd:mx-0 smd:max-w-[339px] aspect-[9/16] overflow-hidden rounded-lg">
                    {% if is_video %}
                        {{
                          media
                          | video_tag:
                            autoplay: false,
                            loop: false,
                            controls: true,
                            muted: false,
                            class: 'w-full h-full object-cover rounded-[5px] min-w-[339px]'
                        }}
                    {% else %}
                        {{ media | image_url: width: 1000 | image_tag: class: 'w-full h-full object-cover' }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endcapture %}

<div x-data="waysToEnjoy('{{ active_title }}')" class="relative overflow-hidden spacing-style wb-section-bg" style="{% render 'section-background', settings: section.settings, part: 'style' %} {% render 'spacing-style', settings: section.settings %}">
    {% render 'section-background', settings: section.settings, part: 'media' %}

    <div class="wb-flex justify-between w-full max-w-[966px] mx-auto relative z-[2]">
        <div class="wb-flex flex-col-reverse items-center lg:flex-row justify-between w-full">
            <div class="w-full lg:w-auto">
                {{ recipe_image }}
            </div>
            <div class="wb-flex flex-col  justify-center items-center px-3.5 md:px-6">
                <h2 class="text-[35px]/none font-extrabold font-(family-name:--font-kurdis-condensed) md:font-(family-name:--font-gothic_condensed) text-center uppercase md:text-[55px] leading-[61px] tracking-[1%] lg:mb-3">{{ section.settings.title | replace: '\n', '<br/>' }}</h2>
                {{ recipe_text }}
                {{ menu }}
                <div class="hidden lg:!block">
                    {{ recipe_content }}
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "AW Ways to Enjoy",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Background type",
      "options": [
        {
          "value": "transparent",
          "label": "Transparent"
        },
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "background_solid",
      "label": "Background color",
      "default": "#F2E6DC",
      "visible_if": "{{ section.settings.background_type == 'color' }}"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient",
      "visible_if": "{{ section.settings.background_type == 'gradient' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image",
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "select",
      "id": "background_image_fit",
      "label": "Background image fit",
      "options": [
        {
          "value": "cover",
          "label": "Cover (may crop)"
        },
        {
          "value": "natural",
          "label": "Natural (no crop)"
        }
      ],
      "default": "cover",
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "checkbox",
      "id": "background_image_overflow",
      "label": "Allow background image overflow",
      "default": false,
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "header",
      "content": "Background mobile"
    },
    {
      "type": "select",
      "id": "background_type_mobile",
      "label": "Background type mobile",
      "options": [
        {
          "value": "same",
          "label": "Same as desktop"
        },
        {
          "value": "transparent",
          "label": "Transparent"
        },
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "same"
    },
    {
      "type": "color",
      "id": "background_solid_mobile",
      "label": "Background color mobile",
      "default": "#F2E6DC",
      "visible_if": "{{ section.settings.background_type_mobile == 'color' }}"
    },
    {
      "type": "color_background",
      "id": "background_gradient_mobile",
      "label": "Background gradient mobile",
      "visible_if": "{{ section.settings.background_type_mobile == 'gradient' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background image mobile",
      "visible_if": "{{ section.settings.background_type_mobile == 'image' }}"
    },
    {
      "type": "select",
      "id": "background_image_fit_mobile",
      "label": "Background image fit mobile",
      "options": [
        {
          "value": "cover",
          "label": "Cover (may crop)"
        },
        {
          "value": "natural",
          "label": "Natural (no crop)"
        }
      ],
      "default": "cover",
      "visible_if": "{{ section.settings.background_type_mobile == 'image' }}"
    },
    {
      "type": "checkbox",
      "id": "background_image_overflow_mobile",
      "label": "Allow background image overflow",
      "default": false,
      "visible_if": "{{ section.settings.background_type_mobile == 'image' }}"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "info": "Use \\n to add a line break."
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.mobile"
    },
    {
      "type": "range",
      "id": "padding-block-start-mobile",
      "label": "t:settings.top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end-mobile",
      "label": "t:settings.bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "recipe",
      "name": "Recipe",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "metaobject",
          "id": "metaobject",
          "label": "Instructions",
          "metaobject_type": "how_to_mix"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "AW Ways to Enjoy"
    }
  ]
}
{% endschema %}