{% liquid
    assign color_scheme = section.settings.color_scheme
    assign background_image = section.settings.background_image
    assign background_image_mobile = section.settings.background_image_mobile
    assign floating_image = section.settings.floating_image
    assign floating_image_mobile = section.settings.floating_image_mobile
    assign title_type = section.settings.title_type
    assign title = section.settings.title
    assign title_image = section.settings.title_image
    assign title_alt = section.settings.title_alt
    assign bulletpoints = section.blocks | where: "type", "bulletpoint"
    assign button_label = section.settings.button_label
    assign button_link = section.settings.button_link
%}

<div class="relative w-full" style="background-color: {{ color_scheme.background }}">
    {% if background_image != blank %}
        {% render 'picture', source: background_image, class: 'hidden md:!block w-full h-full object-cover absolute inset-0' %}
    {% endif %}
    {% if background_image_mobile != blank %}
        {% render 'picture', source: background_image_mobile, class: 'block md:!hidden w-full !h-full object-cover absolute inset-0' %}
    {% endif %}
    {% if floating_image != blank %}
        {% render 'picture', source: floating_image, class: '-bottom-10 md:!bottom-auto !w-fit max-h-full h-full object-contain absolute right-0 z-[2]' %}
    {% endif %}
    {% if floating_image_mobile != blank %}
        {% render 'picture', source: floating_image_mobile, class: 'w-full max-h-full h-full object-contain absolute inset-0' %}
    {% endif %}
    <div class="container max-w-[1000px] px-4 mx-auto lg:relative z-[2] pt-[13px] md:!pt-[52px] pb-[200px] md:!pb-[70px]">
        <div class="relative z-[3] md:!w-1/2 wb-flex flex-col max-w-[438px] mx-auto md:!mx-0">
            <div class="wb-flex flex-col mb-8">
                {% if title_type == 'text' %}
                    <h2 class="h2 text-gold">{{ title }}</h2>
                {% elsif title_type == 'image' %}
                    {% if title_image != blank %}
                        {{ title_image | image_url: width: 365 | image_tag: class: '!max-w-[246px] md:!max-w-[438px] mx-auto md:!mx-0 w-full max-h-full object-contain', alt: title_alt }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="wb-flex !leading-[16px] flex-col md:!pl-12 !gap-4 items-center md:!items-start">
            {% for bullet in bulletpoints %}
                <div class="inline !leading-[16px] text-center md:!text-left md:!flex gap-2">
                    {{ bullet.settings.image | image_url: width: 20 | image_tag: class: '!h-4 !w-4 !inline-block md:!flex', alt: bullet.settings.title }}
                    <span class="body font-bold !leading-[16px] text-center md:!text-left">{{ bullet.settings.title }}</span>
                </div>
            {% endfor %}
            {% if button_label != blank and button_link != blank %}
                {% render 'wb-button', style: 'primary', class: 'mt-4 z-[3]', label: button_label, link: button_link %}
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Floating Image",
        "settings": [
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme",
                "default": "scheme-1"
            },
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
            },
            {
                "type": "image_picker",
                "id": "background_image_mobile",
                "label": "Background Image Mobile"
            },
            {
                "type": "image_picker",
                "id": "floating_image",
                "label": "Floating Image"
            },
            {
                "type": "image_picker",
                "id": "floating_image_mobile",
                "label": "Floating Image Mobile"
            },
            {
                "type": "select",
                "id": "title_type",
                "label": "Title Type",
                "options": [
                    {
                        "value": "text",
                        "label": "Text"
                    },
                    {
                        "value": "image",
                        "label": "Image"
                    }
                ],
                "default": "text"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "visible_if": "{{ section.settings.title_type == 'text' }}"
            },
            {
                "type": "image_picker",
                "id": "title_image",
                "label": "Title Image",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "text",
                "id": "title_alt",
                "label": "Title Alt",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "Button Label"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            }
        ],
        "blocks": [
            {
                "type": "bulletpoint",
                "name": "Bulletpoint",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Floating Image"
            }
        ]
    }
{% endschema %}