{% liquid
    assign color_scheme = section.settings.color_scheme
    assign background_image = section.settings.background_image
    assign background_image_mobile = section.settings.background_image_mobile
    assign floating_image = section.settings.floating_image
    assign floating_image_mobile = section.settings.floating_image_mobile
    assign title_type = section.settings.title_type
    assign title = section.settings.title
    assign title_image = section.settings.title_image
    assign title_image_mobile = section.settings.title_image_mobile
    assign title_alt = section.settings.title_alt
    assign bulletpoints = section.blocks | where: "type", "bulletpoint"
    assign button_label = section.settings.button_label
    assign button_link = section.settings.button_link
%}

<div class="relative w-full" style="background-color: {{ color_scheme.background }}">
    <svg preserveAspectRatio="none" class="absolute -top-0.5 left-0 w-full z-[2]" xmlns="http://www.w3.org/2000/svg" width="1290" height="28" viewBox="0 0 1290 28" fill="none">
        <path d="M1290 27.249L970 28L352 21.9804L3.62444e-07 23.854L2.44783e-06 -1.16568e-06L1290 0.00011161L1290 27.249Z" fill="{{ color_scheme.settings.background }}"/>
    </svg>
    {% render 'picture', source: background_image, mobile_source: background_image_mobile, class: 'w-full !h-full object-cover !max-w-none absolute inset-0', alt: background_image.alt, width: 1920, height: 1080 %}
    {% if floating_image != blank %}
        {% render 'picture', source: floating_image, mobile_source: floating_image_mobile, class: '-bottom-6 md:!bottom-auto !w-fit max-h-full h-full object-contain absolute right-0 z-[2] md:!w-[50vw] xl:!w-fit', alt: floating_image.alt, width: 1920, height: 1080 %}
    {% endif %}
    <div class="container max-w-[1000px] px-4 mx-auto lg:relative z-[2] pt-10 md:!pt-[84px] pb-[200px] md:!pb-20">
        <div class="relative z-[3] md:!w-1/2 wb-flex flex-col max-w-[263px] md:!max-w-[457px] mx-auto md:!mx-0">
            <div class="wb-flex flex-col mb-8">
                {% if title_type == 'text' %}
                    <h2 class="h2 text-gold">{{ title }}</h2>
                {% elsif title_type == 'image' %}
                    {% render 'title-image', image: title_image, image_mobile: title_image_mobile, alt: title_alt, class: '!max-w-[246px] md:!max-w-[438px] mx-auto md:!mx-0 w-full max-h-full object-contain' %}
                {% endif %}
            </div>
            <div class="wb-flex !leading-[16px] flex-col md:!pl-12 !gap-4.5 md:!gap-4 items-center sm:!pb-[24vw] md:!pb-0 md:!items-start">
            {% for bullet in bulletpoints %}
                <div class="inline !leading-[16px] text-center md:!text-left md:!flex gap-2">
                    {{ bullet.settings.image | image_url: width: 20 | image_tag: class: '!h-4 !w-4 !inline-block md:!flex', alt: bullet.settings.title }}
                    <span class="body font-bold !leading-[16px] text-center md:!text-left">{{ bullet.settings.title }}</span>
                </div>
            {% endfor %}
            {% if button_label != blank and button_link != blank %}
                {% render 'wb-button', style: 'primary', class: 'mt-4 z-[3] md:!ml-5 !w-[266px] !h-[51px]', width: 253, height: 49, label: button_label, link: button_link %}
            {% endif %}
            </div>
        </div>
    </div>
    <svg preserveAspectRatio="none" class="absolute -bottom-0.5 left-0 w-full" xmlns="http://www.w3.org/2000/svg" width="1280" height="18" viewBox="0 0 1280 18" fill="none">
        <path d="M0 0L670 5.33019L1280 0V18H0V0Z" fill="{{ color_scheme.settings.background }}"/>
    </svg>
</div>

{% schema %}
    {
        "name": "Floating Image",
        "settings": [
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme",
                "default": "scheme-1"
            },
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
            },
            {
                "type": "image_picker",
                "id": "background_image_mobile",
                "label": "Background Image Mobile"
            },
            {
                "type": "image_picker",
                "id": "floating_image",
                "label": "Floating Image"
            },
            {
                "type": "image_picker",
                "id": "floating_image_mobile",
                "label": "Floating Image Mobile"
            },
            {
                "type": "select",
                "id": "title_type",
                "label": "Title Type",
                "options": [
                    {
                        "value": "text",
                        "label": "Text"
                    },
                    {
                        "value": "image",
                        "label": "Image"
                    }
                ],
                "default": "text"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "visible_if": "{{ section.settings.title_type == 'text' }}"
            },
            {
                "type": "image_picker",
                "id": "title_image",
                "label": "Title Image",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "image_picker",
                "id": "title_image_mobile",
                "label": "Title Image Mobile",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "text",
                "id": "title_alt",
                "label": "Title Alt",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "Button Label"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            }
        ],
        "blocks": [
            {
                "type": "bulletpoint",
                "name": "Bulletpoint",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Floating Image"
            }
        ]
    }
{% endschema %}