{% liquid
    assign color_scheme = section.settings.color_scheme
    assign background_image = section.settings.background_image
    assign background_image_mobile = section.settings.background_image_mobile
    assign title_type = section.settings.title_type
    assign title = section.settings.title
    assign title_image = section.settings.title_image
    assign title_image_mobile = section.settings.title_image_mobile
    assign title_alt = section.settings.title_alt
    assign subtitle = section.settings.subtitle
    assign foreground_image = section.settings.foreground_image
    assign foreground_image_mobile = section.settings.foreground_image_mobile
    assign description = section.settings.description
    assign bulletpoints = section.blocks | where: "type", "bulletpoint"
    assign button_label = section.settings.button_label
    assign button_link = section.settings.button_link
%}

<div class="relative pt-[55px] pb-[200px] md:!pb-[55px] lg:!py-[65px] z-0 overflow-hidden" style="background-color: {{ color_scheme.background }}">
    <svg preserveAspectRatio="none" class="absolute -top-0.5 left-0 w-full z-[2]" xmlns="http://www.w3.org/2000/svg" width="1280" height="18" viewBox="0 0 1280 18" fill="none">
        <path d="M0 14.5L424 17.0497L1280 14.5V0H0V14.5Z" fill="{{ color_scheme.settings.background }}"/>
    </svg>
    {% if background_image != blank %}
        {% render 'picture', source: background_image, mobile_source: background_image_mobile, class: 'hidden md:!block w-full h-full !min-h-full object-cover absolute inset-0' %}
    {% endif %}
    {% if background_image_mobile != blank %}
        {% render 'picture', source: background_image_mobile, class: 'block md:!hidden w-full !h-full object-bottom md:!object-center object-cover absolute inset-0' %}
    {% endif %}
    <div class="container mx-auto flex justify-center md:!justify-end px-4 !gap-0">
        <div class="md:!w-1/2 relative z-[2]">
            <div class="wb-flex flex-col items-center md:!items-start pb-[15vw] sm:!pb-[20vw] md:!pb-0">
                {% if title_type == 'text' %}
                    <h2 class="h2 text-gold mb-5">{{ title }}</h2>
                {% elsif title_type == 'image' %}
                    {% render 'title-image', image: title_image, image_mobile: title_image_mobile, alt: title_alt, class: 'max-w-[333px] md:!max-w-full w-full max-h-full object-contain !mb-5 mx-auto md:!mx-0' %}
                {% endif %}
                {% if subtitle != blank %}
                    <span class="body block !mb-5 max-w-[316px] md:!max-w-full" style="color: {{ color_scheme.settings.foreground }}">{{ subtitle }}</span>
                {% endif %}
                <div class="max-w-[316px] w-full md:!max-w-full">
                {% for bullet in bulletpoints %}
                    <div class="wb-flex gap-2 block !mb-5 items-center w-full">
                        {{ bullet.settings.image | image_url: width: 20 | image_tag: class: '!w-[14px]', alt: bullet.settings.title }}
                        <span class="body font-bold !leading-[16px]" style="color: {{ color_scheme.settings.foreground }}">{{ bullet.settings.title }}</span>
                    </div>
                {% endfor %}
                </div>
                {% if foreground_image != blank %}
                    {% render 'picture', source: foreground_image, mobile_source: foreground_image_mobile, class: 'w-full max-h-full object-contain', alt: title_alt %}
                {% endif %}
                {% if description != blank %}
                    <div class="rte" style="color: {{ color_scheme.settings.foreground }}">{{ description }}</div>
                {% endif %}
                {% if button_label != blank and button_link != blank %}
                    {% render 'wb-button', style: 'secondary-gold', class: 'mt-4 w-[280px]', label: button_label, link: button_link %}
                {% endif %}
            </div>
        </div>
    </div>
    <svg preserveAspectRatio="none" class="absolute -bottom-0.5 left-0 w-full z-[2]" xmlns="http://www.w3.org/2000/svg" width="1290" height="30" viewBox="0 0 1290 30" fill="none">
      <path d="M0 0.952156L320 0L938 7.63188L1290 5.2564V30H0V0.952156Z" fill="{{ color_scheme.settings.background }}"/>
    </svg>
</div>

{% schema %}
    {
        "name": "Membership",
        "settings": [
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme",
                "default": "scheme-1"
            },
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
            },
            {
                "type": "image_picker",
                "id": "background_image_mobile",
                "label": "Background Image Mobile"
            },
            {
                "type": "select",
                "id": "title_type",
                "label": "Title Type",
                "options": [
                    {
                        "value": "text",
                        "label": "Text"
                    },
                    {
                        "value": "image",
                        "label": "Image"
                    }
                ],
                "default": "text"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "visible_if": "{{ section.settings.title_type == 'text' }}"
            },
            {
                "type": "image_picker",
                "id": "title_image",
                "label": "Title Image",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "image_picker",
                "id": "title_image_mobile",
                "label": "Title Image Mobile",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "text",
                "id": "title_alt",
                "label": "Title Alt",
                "visible_if": "{{ section.settings.title_type == 'image' }}"
            },
            {
                "type": "richtext",
                "id": "subtitle",
                "label": "Subtitle"
            },
            {
                "type": "image_picker",
                "id": "foreground_image",
                "label": "Foreground Image"
            },
            {
                "type": "image_picker",
                "id": "foreground_image_mobile",
                "label": "Foreground Image Mobile"
            },
            {
                "type": "text",
                "id": "description",
                "label": "Description"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "Button Label"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            }
        ],
        "blocks": [
            {
                "type": "bulletpoint",
                "name": "Bulletpoint",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Membership"
            }
        ]
    }
{% endschema %}